<!DOCTYPE html>
<meta charset="utf-8" />
<title>Tornado Chat Demo</title>
<link rel="stylesheet" href="{{ static_url("chat.css") }}" type="text/css"/>
<div id="info"></div>
<div id="nav">
  <img src="{{ avatar }}"/>
  <b>{{ name }}</b> -
  <a href="/auth/logout">{{ _("Sign out") }}</a>
</div>
<div id="inbox">
  {% for message in messages %}
  {% raw message['html'] %}
  {% end %}
</div>
<div id="input">
  <form action="/a/message/new" method="post" id="messageform">
    <input name="body" type="text" autofocus id="message" style="width:500px"/>
    <input type="submit" value="{{ _("Post") }}"/>
    <input type="hidden" name="next" value="{{ request.path }}"/>
    {% module xsrf_form_html() %}
  </form>
</div>
<div id="source-link">
  <p><a href="/static/clichat.tar.bz2">Get CLI version client</a></p>
  <p><a href="https://github.com/lilydjwg/tornadochat" target="_blank">fork me on Github</a></p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js" type="text/javascript"></script>
<script src="{{ static_url("chat.js") }}" type="text/javascript"></script>
